table {
    border: 1px solid lightgray;
    border-radius: 5px;
}

tbody {
    border-bottom: 1px solid lightgray;
}

th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

th:last-child {
    border-right: 0 solid transparent;
}

tr {
    border-bottom:  1px solid lightgray;
}

td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

td:last-child {
    border-right: 0 solid transparent;
}

tfoot {
    color: gray;
}

tfoot th {
    font-weight: normal;
}