table {
    border: 1px solid lightgray;
    border-radius: 5px;
}

tbody {
    border-bottom: 1px solid lightgray;
}

thead {
    border-bottom: 1px solid lightgray;
}

thead tr:hover {
    background-color: inherit;
}

tr {
    transition: background-color .2s;
}

tr:hover {
    background-color: rgb(230, 237, 240)
}


.cursor-pointer {
    cursor: pointer;
}